.fs-6 {
    font-size: 0.7rem !important;
}

.feature {
    .card {
        .img-card {
            width: 56px !important;

            img {
                width: 40px !important;
            }
        }
    }
}

.rounded-gol {
    border: 1px solid black !important;
    border-radius: 50%;
    height: 8px !important;
    width: 10px !important;
}
.img-set{
    margin: 50px 0px -59px 403px;
}
.img-set-1{
    margin: -15px 0px 0px 131px;
}
.mt-set{
    margin: -300px 0 0 90px !important;
}